<p>
    
        <a href="{% url 'learning_logs:index' %}">
            Learning log
        </a>
    

        <a href="{% url 'learning_logs:topics' %}">
             - Topics
        </a>
        
    
        {% if user.is_authenticated%}
        - Hello, {{user.username}}
          <!-- <p><a href="{% url 'users:logout' %}">Log out</a></p> -->
           <form action="{% url 'users:logout' %}" method="post">
            {%csrf_token%}
            <button>Log out</button>
            <input type="hidden" value="{% url 'users:logout' %}" name="next" />
           </form>
        {% else %}
        <a href="{% url 'users:login' %}"> Log In</a>
        <a href="{% url 'users:register' %}" > create new account</a>
        {% endif %}
    

</p>


{%block content%} {%endblock content%}